!build/
!claimsapi-config-server
coverage/
yarn.lock
stats.json
*.log
.DS_Store
.idea/
.vscode/
src/
test/
jenkins/
.prettierrc
.prettierignore
sonar-project.properties
test-report.xml
tsconfig.build.json
tsconfig.json
manifest.yml
.env